
site_name: My Documentation Site
docs_dir: docs
site_dir: site

theme:
  name: material
  palette:
    # Вторая — тёмная
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
        
    # Первая цветовая схема — светлая
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to dark mode


plugins:
  - search
  - awesome-nav

markdown_extensions:
  - toc:
      permalink: true


